html {
  font-size: calc(1vmin + 5px);
  font-family: sans-serif;
}

body {
  text-align: center;
  margin: 0;
}

main {
  width: 100%;
  font-size: 3rem;
  background-color: hsl(180, 100%, 10%);
  color: white;
}

.h-payment {
  font-size: 2rem;
  padding: 0 1rem;
}

form {
  width: 80%;
  display: inline-block;
}

form > .block-inputs {
  display: flex;
  flex-direction: column;
}

form > .block-inputs > div {
  text-align: left;
  padding: 10px;
}

form label {
  font-size: 1rem;
}

form > .block-buttons > input[type=submit] {
  padding: 20px 40px;
  font-size: 32px;
  background-color: hsl(300, 100%, 35%);
  color: white;
  border: 2px solid hsl(300, 100%, 20%);
  border-radius: 20px;
  font-family: sans-serif;
}

form > .block-inputs input[type=text] {
  font-size: 3rem;
  border-radius: 1rem;
  border-color: hsl(300, 100%, 35%);
  padding: 0 0.5rem;
}

.txt-date {
  width: 2em;
  text-align: center;
}

.txt-ccv {
  width: 3em;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  main {
    width: 768px;
    display: inline-block;
  }

  form {
    width: 60%;
  }
}
