body {
    width: 40vh;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 25px 50px 75px 100px;
}
* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
p {
    font-size: large;
}
/*input[type=text], select {*/
/*    width: 100%;*/
/*    cursor: pointer;*/
/*}*/
input[type=submit]{
    width: 100%;
    background-color: #C9C9C9;
}



